@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/swiper/swiper-bundle.min";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Faro', sans-serif;
}

.hero-bg {
  object-position: 93% -4px;
}

.inherit {
  font-style: inherit;
}

@media screen and (min-width: 768px) {
  .hero-bg {
    object-position: 100% 0; 
  }
  .help-logo {
    object-position: -193px 0;
  }
}