<section id="blablacar" class="relative mt-[101px] bg-[#2ED1FF] xl:mt-[210px] 1400:mt-[80px]">
  <div class="absolute top-[-101px] left-0 w-full lg:top-[-115px] xl:top-[-210px]">
    <picture>
      <source media="(min-width: 767px)" srcset="../../img/svg/blablacar-bg-desk.svg">
      <img src="../../img/svg/blablacar-bg-mob.svg" class="w-full h-full" alt="">
    </picture>
  </div>
  <div class="max-w-[1340px] mx-auto px-5 relative">
    <div class="lg:flex lg:items-end">
      <div class="max-w-[790px] mx-auto lg:ml-0 lg:pb-[160px] lg:self-start lg:mr-5">
          <h3 x-text="$t('blablacar.title')" class="text-[30px] leading-[34px] mb-6 font-bold font-tryGrtskVariable italic xl:text-[45px] xl:leading-[50px] xl:mb-5"></h3>
          <div class="text-base leading-5 font-faroTrial mb-[67px] xl:text-[18px] xl:leading-[22px] xl:mb-[74px] xl:max-w-[754px]">
            <p x-text="$t('blablacar.paragraph_1')" class="mb-5"></p>
            <p x-text="$t('blablacar.paragraph_2')" class="mb-5"></p>
            <p x-text="$t('blablacar.paragraph_3')" class="mb-5"></p>
            <p x-text="$t('blablacar.paragraph_4')"></p>
          </div>
          <!-- <ul class="max-w-[204px] mx-auto mb-[53px] md:flex md:max-w-none md:justify-center md:gap-x-5 lg:justify-start xl:mb-[65px]">
            <li class="text-center mb-7 md:mb-0 lg:max-w-[286px]">
              <div class="text-[50px] leading-[60px] font-bold font-tryGrtskVariable mb-2 text-white italic xl:text-[70px] xl:leading-[84px] lg:mb-1">16,150</div>
              <div class="text-[14px] leading-[18px] font-faroTrial xl:text-[20px] xl:leading-[26px]">Lorem ipsum dolor sit amet consectetur.</div>
            </li>
            <li class="text-center lg:max-w-[286px]">
              <div class="text-[50px] leading-[60px] font-bold font-tryGrtskVariable mb-2 text-white italic xl:text-[70px] xl:leading-[84px] lg:mb-1">6,490 160</div>
              <div class="text-[14px] leading-[18px] font-faroTrial xl:text-[20px] xl:leading-[26px]">Lorem ipsum dolor sit amet consectetur.</div>
            </li>
          </ul> -->
          <div class="flex justify-center gap-x-3 mb-[60px] lg:mb-0 lg:justify-start lg:gap-x-7">
            <a href="https://apps.apple.com/md/app/blablacar-carpooling-and-bus/id341329033" target="_blank" class="relative z-10 w-[153px] h-[49px] lg:w-[153px] lg:h-[49px]"><img src="../../img/app-store.png" class="w-full h-full object-contain" alt="App store"></a>
            <a href="https://play.google.com/store/apps/details?id=com.comuto&hl=ua&gl=US&pli=1" target="_blank" class="relative z-10 w-[169px] h-[49px] lg:w-[160px] lg:h-[49px]"><img src="../../img/svg/google-play.svg" class="w-full h-full object-contain" alt="Google play"></a>
          </div>
      </div>
        <div class="max-w-[334px] w-full mx-auto lg:mr-0 lg:max-w-[475px] lg:shrink-0">
          <img src="../../img/blablacar-image.png" class="w-full h-full object-contain" alt="Mobile app">
        </div>
    </div>
  </div>
</section>