<footer id="footer" class="relative mt-[-108px] pt-[112px] pb-[43px] sm:mt-[-190px] 400:pt-[190px] lg:pt-[146px] lg:pb-[56px] xl:mt-[-120px] 2xl:mt-[-200px] 2xl:pt-[307px] 2xl:pb-[200px]">
  <div class="absolute top-0 left-0 w-full h-full z-0">
    <picture>
      <source media="(min-width: 767px)" srcset="./img/svg/footer-desk-bg.svg">
      <source media="(max-width: 767px)" srcset="./img/svg/footer-mob-bg.svg">
      <img src="./img/svg/footer-desk-bg.svg" class="object-cover w-full h-full" alt="decor">
    </picture>
  </div>
  <div class="mx-auto mt-[-24px] px-5 370:px-12 md:px-[40px] xl:px-[101px]">
    <div class="mt-4 md:mt-[60px] md:flex md:justify-between md:relative md:gap-[20px] max-w-[1120px] mx-auto px-[10px]">
      <div>
        <div class="relative pb-[86px] md:pb-0 h-full md:flex md:flex-col md:justify-between">
          <div class="w-[86px] h-[48px] lg:w-[100px] lg:h-[58px] xl:w-[126px] xl:h-[78px] mx-auto mb-[42px] lg:mb-[48px]">
            <img src="./img/svg/mastercard-logo.svg" class="w-full h-full" alt="Mastercard">
          </div>
          <div>
            <ul class="flex justify-center mb-3 lg:mb-8">
              <li class="mr-4 lg:mr-5">
                <a href="https://instagram.com/blablacar_ua" target="_blank"><img src="./img/svg/insta.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Instagram"></a>
              </li>
              <li class="mr-4 lg:mr-5">
                <a href="https://facebook.com/BlaBlaCarUkraina" target="_blank"><img src="./img/svg/facebook.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Facebook"></a>
              </li>
              <li class="mr-4 lg:mr-5">
                <a href="https://twitter.com/BlaBlaCar_UA" target="_blank"><img src="./img/svg/twitter.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Twitter"></a>
              </li>
              <li>
                <a href="https://youtube.com/c/BlaBlaCarUAforUkraine" target="_blank"><img src="./img/svg/youtube.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Youtube"></a>
              </li>
            </ul>
            <div class="text-center">
              <a href="https://wwww.mastercard.ua/" target="_blank" class="text-lg leading-6 font-faroTrial lg:text-[26px] lg:leading-[34px]">
                www.mastercard.ua
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="relative pb-[86px] md:pb-0 h-full md:flex md:flex-col md:justify-between">
          <div class="w-[276px] h-[40px] lg:w-[300px] lg:h-[48px] xl:w-[400px] xl:h-[57px] mx-auto mb-6 lg:mb-[60px] md:mt-[12px]">
            <img src="./img/svg/superhumans.svg" class="w-full h-full" alt="Superhumans">
          </div>
          <div>
            <ul class="flex justify-center mb-3 lg:mb-8">
              <li class="mr-4 lg:mr-5">
                <a href="https://instagram.com/superhumans.center" target="_blank"><img src="./img/svg/insta.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Instagram"></a>
              </li>
              <li class="mr-4 lg:mr-5">
                <a href="http://facebook.com/superhumans.center" target="_blank"><img src="./img/svg/facebook.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Facebook"></a>
              </li>
              <li class="mr-4 lg:mr-5">
                <a href="https://twitter.com/superhumans_com" target="_blank"><img src="./img/svg/twitter.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Twitter"></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UC8NCnpnHnsOjg06-F6DGtbQ" target="_blank"><img src="./img/svg/youtube.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Youtube"></a>
              </li>
            </ul>
            <div class="text-center"><a href="https://www.superhumans.com/" target="_blank" class="text-lg leading-6 font-faroTrial lg:text-[26px] lg:leading-[34px]">www.superhumans.com</a></div>
          </div>
        </div>

      </div>
      <div>
        <div class="relative h-full md:flex md:flex-col md:justify-between">
          <div class="w-[65px] h-[45px] lg:w-[76px] lg:h-[58px] xl:w-[91px] xl:h-[62px] mx-auto mb-6 lg:mb-[59px] md:mt-[8px]">
            <img src="./img/svg/the42-logo.svg" class="w-full h-full" alt="https://42manufactory.com/">
          </div>
          <div>
            <ul class="flex justify-center mb-3 lg:mb-8">
              <li class="mr-4 lg:mr-5">
                <a href="https://instagram.com/42manufactory?igshid=YmMyMTA2M2Y=" target="_blank"><img src="./img/svg/insta.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Instagram"></a>
              </li>
              <li class="mr-4 lg:mr-5">
                <a href="https://m.facebook.com/42manufactory/?mibextid=LQQJ4d" target="_blank"><img src="./img/svg/facebook.svg" class="w-7 h-7 lg:w-[38px] lg:h-[38px]" alt="Facebook"></a>
              </li>
            </ul>
            <div class="text-center"><a href="https://42manufactory.com" target="_blank" class="text-lg leading-6 font-faroTrial lg:text-[26px] lg:leading-[34px]">https://42manufactory.com/</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative font-faroTrial text-[18px] leading-[23px] lg:text-[26px] lg:leading-[34px] mt-[68px] lg:mt-[48px] 2xl:mt-[90px]">
      <a href="./img/official.pdf" rel="noopener" target="_blank" class="w-fit mx-auto flex items-center justify-center underline md:gap-[9px]">
        <span class="mr-3 lg:mr-5 tracking-[0.4px] md:tracking-[0.8px]">Офіційні правила</span>
        <picture>
          <source media="(min-width: 1023px)" srcset="./img/svg/download-d.svg">
          <source media="(max-width: 1023px)" srcset="./img/svg/download.svg">
          <img src="./img/svg/download.svg" alt="Download">
        </picture>
      </a>
    </div>
  </div>
</footer>