<header
    class="pt-[17px] absolute top-0 z-100 w-full md:pt-[26px]"
    :class="$store.language.lang === 'en' ? 'hidden' : 'block'"
>
    <div class="container px-5 mx-auto flex justify-end md:px-[49px]">
    <div
        x-data="{
        open: false,
        toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
        },
        close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
        }
        }"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']"
        class="relative bg-blur px-[5px] text-white font-faroTrial text-sm leading-[16px] transition-all duration-500 w-[61px]"
    >
        <button
            x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button"
            class="flex items-center capitalize justify-between w-full py-[3px]"
        >
        <span x-text="$locale"></span>
        <div class="inline-block flex items-center gap-[8px]">
            <span x-html="flags[lang]"></span>
            <svg class="duration-200" :class="{ 'rotate-180': open }" width="7" height="5" viewBox="0 0 7 5" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L3.5 3.5L6 1" stroke="white"/>
            </svg>
        </div>
        </button>

        <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none"
        class="w-full pt-[2px] pb-[4px]"
        >
        <button
            @click="$locale('ua'); changeLang('ua'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'ua' | $store.language.lang !== 'ua' ? 'hidden' : 'flex'"
        >
            <span>Ua</span>
            <span x-html="flags.ua" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('en'); changeLang('en'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'en' ? 'hidden' : 'flex'"
        >
            <span>En</span>
            <span x-html="flags.en" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('pl'); changeLang('pl'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'pl' | $store.language.lang !== 'pl' ? 'hidden' : 'flex'"
        >
            <span>Pl</span>
            <span x-html="flags.pl" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('es'); changeLang('es'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'es' | $store.language.lang !== 'es' ? 'hidden' : 'flex'"
        >
            <span>Es</span>
            <span x-html="flags.es" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('de'); changeLang('de'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'de' | $store.language.lang !== 'de' ? 'hidden' : 'flex'"
        >
            <span>De</span>
            <span x-html="flags.de" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('it'); changeLang('it'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'it' | $store.language.lang !== 'it' ? 'hidden' : 'flex'"
        >
            <span>It</span>
            <span x-html="flags.it" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('fr'); changeLang('fr'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang !== 'fr' && ($store.language.lang === 'fr' || $store.language.lang === 'be') ? 'flex' : 'hidden'"
        >
            <span>Fr</span>
            <span x-html="flags.fr" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('cz'); changeLang('cz'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'cz' | $store.language.lang !== 'cz' ? 'hidden' : 'flex'"
        >
            <span>Cz</span>
            <span x-html="flags.cz" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('ro'); changeLang('ro'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'ro' | $store.language.lang !== 'ro' ? 'hidden' : 'flex'"
        >
            <span>Ro</span>
            <span x-html="flags.ro" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('sk'); changeLang('sk'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'sk' | $store.language.lang !== 'sk' ? 'hidden' : 'flex'"
        >
            <span>Sk</span>
            <span x-html="flags.sk" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('hr'); changeLang('hr'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'hr' | $store.language.lang !== 'hr' ? 'hidden' : 'flex'"
        >
            <span>Hr</span>
            <span x-html="flags.hr" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('hu'); changeLang('hu'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'hu' | $store.language.lang !== 'hu' ? 'hidden' : 'flex'"
        >
            <span>Hu</span>
            <span x-html="flags.hu" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('nl'); changeLang('nl'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang !== 'nl' && ($store.language.lang === 'nl' || $store.language.lang === 'be') ? 'flex' : 'hidden'"
        >
            <span>Nl</span>
            <span x-html="flags.nl" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('rs'); changeLang('rs'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'rs' | $store.language.lang !== 'rs' ? 'hidden' : 'flex'"
        >
            <span>Rs</span>
            <span x-html="flags.rs" class="mr-[14px]"></span>
        </button>

        <button
            @click="$locale('pt'); changeLang('pt'); close()"
            class="items-center w-full justify-between py-[1.6px]"
            :class="lang === 'pt' | $store.language.lang !== 'pt' ? 'hidden' : 'flex'"
        >
            <span>Pt</span>
            <span x-html="flags.pt" class="mr-[14px]"></span>
        </button>
        </div>
    </div>
    </div>
</header>
