<section id="help" class="relative z-1 md:flex md:flex-row-reverse md:mt-[-82px] md:bg-white">
  <div class="absolute mt-[-33px] min-[550px]:mt-[-100px] z-0 w-full md:mt-[-11px] md:mt-[-14px]">
    <picture>
      <source srcset="./img/svg/subtract.svg" media="(min-width: 768px)" />
      <img class="w-full h-full" src="./img/svg/invite-top-mask.svg" alt="invite mask" />
    </picture>
  </div>
  <div class="h-[468px] md:h-[934px] md:w-1/2 md:pl-[10px]">
    <img class="help-logo object-cover w-full h-full" src="./img/invite-logo-d.png" alt="invite logo">
  </div>
  <div class="mt-[-50px] md:hidden">
    <img class="w-full h-full" src="./img/svg/mobile-white.svg" alt="white mask" />
  </div>
  <div class="relative px-5 md:pl-[69px] md:pr-[60px] mt-[-6px] md:mt-[54px] lg:mt-[104px] xl:mt-[164px] pb-6 md:w-1/2 max-w-[800px] min-[1500px]:mx-auto font-faroTrial z-2 leading-[20px] text-[16px] md:text-[19px] md:leading-[26px] lg:text-[22px] lg:leading-[28px] md:traking-[0.6px]">
    <p class="relative tracking-[0.5px] md:tracking-[0.6px] mt-[22px] md:mt-[20px]">
      Єднатися для допомоги тим, хто її потребує найбільше -<span class="font-bold"> БЕЗЦІННО.</span>
      <br><br>
      З 3 квітня по 31 травня 2023 року <span class="tracking-[0px]">Mastercard</span> у рамках акції <span class="md:tracking-[0px]">«ЄДНАТИСЯ ДЛЯ ДОПОМОГИ»</span> ініціює благодійний збір коштів для <span class="tracking-[0px]">Superhumans.Centre.</span> Долучайтеся до збору, адже кожна ваша гривня важлива! А <span class="tracking-[0px]">Mastercard</span> зі свого боку подвоїть ваш донат*.
      <br><br>
      <span class="font-bold tracking-[0.7px] md:tracking-[0.9px]">Механіка</span>
      <br><br>
      <div class="flex gap-[2px] tracking-[0.6px] sm:mt-[10px] md:mt-[0]">
        <p class="font-bold">1.</p>
        <p class="md:tracking-[0.8px]">
          Зробіть благодійний внесок на будь-яку  
          суму для <span class="tracking-[0px]">Superhumans.Centre</span> своєю     
          карткою <span class="tracking-[0px]">Mastercard<span class="text-[8px] leading-[14px] align-top inline-block ml-[2px] mt-[-4px]">®</span></span>.
        </p>
      </div>
      <br>
      <div class="flex gap-[2px] leading-[20px] mt-[1px] tracking-[0.6px] md:mt-[4px]">
        <p class="font-bold">2.</p>
        <p>
          Внески будуть подвоєні разом 
          із Mastercard*.
        </p>
      </div>
      <br>
      <p class="text-[12px] tracking-[0.4px] leading-[15px] mt-[12px] md:mt-[4px] lg:mt-[32px] md:text-[14px] md:leading-[17.5px]">
        * Подвоєння внесків здійснюється на умовах і у межах визначених <a rel="noopener" target="_blank" href="./assets/official.pdf">офіційними правилами Акції «ЄДНАТИСЯ ДЛЯ ДОПОМОГИ».</a>
      </p>
    </p>
  </div>
</section>