<section id="help" class="relative z-1 md:flex md:flex-row-reverse md:mt-[-82px] md:bg-white">
  <div class="absolute mt-[-72px] min-[550px]:mt-[-100px] z-0 w-full md:h-[300px] md:mt-[-160px]">
    <picture>
      <source srcset="../../img/svg/subtract.svg" media="(min-width: 768px)" />
      <img class="w-full h-full object-cover" src="../../img/svg/invite-top-mask.svg" alt="invite mask" />
    </picture>
  </div>
  <div class="h-[401px] md:h-[806px] md:min-w-[356px] lg:min-w-[556px] xl:min-w-[706px] xl:max-w-[706px]">
    <picture>
      <source srcset="../../img/invite-logo-d.png" media="(min-width: 768px)" />
      <img class="help-logo object-cover w-full h-full md:h-[932px]" src="../../img/invite-logo.png" alt="invite logo">
    </picture>
  </div>

  <div class="relative px-5 md:pl-[76px] md:pr-[68px] mt-1.5 md:mt-[164px] pb-6 max-w-[800px] min-[1500px]:mx-auto font-faroTrial z-2 leading-[20px] text-[16px] md:text-[22px] md:leading-[28px] md:traking-[0.4px]">
    <p class="relative tracking-[0.3px] mt-[22px] md:mt-[20px]">
      Єднатися для допомоги тим, хто її потребує найбільше – <span class="font-bold">БЕЗЦІННО.</span>
      <br><br>
      З 3 квітня по 31 травня 2023 року Mastercard у рамках акції «ЄДНАТИСЯ ДЛЯ ДОПОМОГИ» ініціює благодійний збір коштів для Superhumans.Centre. Долучайтеся до збору, адже кожна ваша гривня важлива! А Mastercard зі свого боку подвоїть ваш донат*.
      <br><br>
      <span class="font-bold tracking-[0.6px]">Механіка</span>
      <br><br>
      <div class="flex gap-[2px] tracking-[0.6px] sm:mt-[10px] md:mt-[0]">
        <p class="font-bold">1.</p>
        <p>
          Зробіть благодійний внесок на будь-яку  
          суму для Superhumans.Centre своєю     
          карткою Mastercard®.
        </p>
      </div>
      <br>
      <div class="flex gap-[2px] leading-[20px] mt-[1px] tracking-[0.6px] md:mt-[4px]">
        <p class="font-bold">2.</p>
        <p>
          Внески будуть подвоєні разом 
          із Mastercard*.
        </p>
      </div>
      <br>
      <p class="text-[12px] tracking-[0.34px] leading-[16px] mt-[12px] md:mt-[32px] md:text-[14px] md:leading-[17.5px]">
        * Подвоєння внесків здійснюється на умовах і у межах визначених офіційними правилами Акції «ЄДНАТИСЯ ДЛЯ ДОПОМОГИ» _____________ посилання.
      </p>
    </p>
  </div>
</section>