<section id="hero" class="relative">
  <div class="w-full h-[283px] md:h-[641px]">
    <img class="w-full h-full object-cover 2xl:h-[870px]" src="../../img/hero-logo.png" alt="hero logo">
  </div>
  <div class="container px-6 absolute inset-0 mx-auto flex items-center justify-center mt-[-46px] md:pl-[86px] md:pr-[60px] md:mt-[-105px]">
    <h1
        class="text-white font-tryGrtskVariable italic text-[40px] font-bold leading-[50.18px] xl:text-[105px] xl:leading-[126px] relative"
        x-text="$t('hero.title')"
      >
    </h1>
  </div>
</section>
