<section id="hero" class="relative">
  <div class="relative w-full h-[283px] md:h-[641px]">
    <img class="hero-bg w-full h-full object-cover" src="./img/hero-logo.png" alt="hero logo">
    <div class="absolute h-full left-[-20%] w-full top-0" style="background: linear-gradient(90.61deg, rgba(2, 2, 2, 0.76) 5.76%, rgba(2, 2, 2, 0.45) 61.52%, rgba(2, 2, 2, 0) 99.44%);"></div>
  </div>
  <div class="container px-6 absolute inset-0 mx-auto flex items-center md:px-[34px]">
    <h1
        class="inherit text-white font-tryGrtskVariable italic text-[40px] font-bold mt-[-28px] md:text-[50px] md:leading-[63px] leading-[48px] max-w-[230px] lg:max-w-[600px] md:max-w-[280px] xl:max-w-[780px] lg:text-[79px] lg:mt-[-98px] lg:leading-[106px] relative"
      >
      Єднатися <span class='md:hidden'><br/></span>для допомоги. Безцінно
    </h1>
  </div>
</section>
