<section id="hero" class="relative">
  <div class="w-full h-[283px] md:h-[641px]">
    <img class="hero-bg w-full h-full object-cover 2xl:h-[870px]" src="./img/hero-logo.png" alt="hero logo">
  </div>
  <div class="container px-6 absolute inset-0 mx-auto flex items-center md:px-[34px]">
    <h1
        class="inherit text-white font-tryGrtskVariable italic text-[40px] font-bold mt-[-28px] leading-[48px] max-w-[230px] xl:max-w-[780px] xl:text-[79px] xl:mt-[-98px] xl:leading-[106px] relative"
      >
      Єднатися <span class='md:hidden'><br/></span>для допомоги. Безцінно
    </h1>
  </div>
</section>
