<section id="in-order" class="relative bg-white mt-[-3px] md:mt-[-20px]">
  <div class="absolute top-[0] mt-[-96px] lg:mt-[-230px] w-full">
    <picture>
      <source srcset="./img/svg/mission-top-mask-d.svg" media="(min-width: 768px)" />
      <img class="w-full" src="./img/svg/mission-top-mask.svg" alt="top mask">
    </picture>
  </div>
  <div class="container mx-auto px-5 md:px-[60px] relative z-10 max-w-[1100px] pt-[74px] md:pt-[44px] pb-10 md:pb-2.5">
    <div class="absolute mt-[16px] md:mt-[-12px] md:ml-[4px] top-0 xl:left-0">
      <img class="md:w-[55px] md:h-[54px]" src="./img/svg/text-corner.svg" alt="">
    </div>
    <p class="font-faroTrial text-center text-xl md:text-[30px] leading-[26px] md:leading-[39px]">
      <span>Щоб дати їм шанс на гідне життя, в Україні працює ультрасучасний центр протезування, реконструктивної хірургії та реабілітації постраждалих від війни для дорослих та дітей.</span>
      <br><br>
      <span>Місія Superhumans Center - побудувати в Україні якісну експертизу протезування та високотехнологічних медичних втручань; лікувати українців вдома, поряд із сім'ями та перетворити Україну на "країну надлюдей", замість "країни травмованих людей".</span>
    </p>
    <button
      @click="open()"
      class="help-btn mx-auto font-normal font-faroTrial w-[207px] md:w-[248px] block bg-btn-color text-black h-[49.50px] md:h-[59px] uppercase text-base md:text-xl mt-[50px] md:mt-[70px]"
    >
      ПРИ<span class="font-bold">ЄДНАТИСЯ</span>
    </button>
  </div>
  <div class="w-full md:mt-[60px]">
    <picture>
      <source media="(max-width: 767px)" srcset="./img/svg/hands-mob.svg">
      <img class="w-full" src="./img/svg/hands.svg" alt="hands">
    </picture>
  </div>
</section>