<section id="injured" class="relative mt-[-2px] bg-[#BECDCE]">
  <div class="pt-[56px] md:pt-[59px]">
    <picture>
      <source srcset="./img/superhumans-d.png" media="(min-width: 520px)" />
      <img class="w-full h-full fit-cover" src="./img/superhumans.png" alt="superhumans logo">
    </picture>
  </div>
  <div class="font-tryGrtskVariable mt-[20px] md:mt-[-17px] px-5 md:px-[72px] text-white absolute top-0 flex items-center justify-center text-center inset-0 inherit text-[40px] md:text-[70px] xl:text-[100px] leading-[48px] md:leading-[80px] xl:leading-[120px] font-bold">
    <h2>Ті, хто дістали травми внаслідок війни - Superhumans!</h2>
  </div>
</section>