<section id="injured" class="relative mt-[-46px] 400:mt-[-50px] md:mt-[-75px] lg:mt-[-155px] 2xl:mt-[-170px]">
  <div>
    <picture>
      <source srcset="./img/superhumans-d.png" media="(min-width: 520px)" />
            <img class="w-full h-full fit-cover" src="./img/superhumans.png" alt="superhumans logo">
    </picture>
  </div>
  <div class="mt-[-70px] px-5 md:px-[72px] text-white absolute top-0 flex items-center justify-center text-center inset-0 italic text-[45px] md:text-[70px] xl:text-[100px] leading-[54px] md:leading-[80px] xl:leading-[120px] font-bold">
    <h2>Ті, хто дістали травми внаслідок війни - Superhumans!</h2>
  </div>
</section>