<section id="injured" class="relative bg-[#BECDCE] mt-[-52px] md:mt-[-2px]">
  <div class="absolute md:hidden mt-[50px] w-full">
    <img src="./img/svg/injured-top-mask.svg" class="w-full"  alt="">
  </div>
  <div class="pt-[56px] md:pt-[59px] h-[680px] md:h-auto">
    <picture>
      <source srcset="./img/superhumans-d.png" media="(min-width: 520px)" />
      <img class="injured-logo w-full h-full object-cover md:" src="./img/superhumans.png" alt="superhumans logo">
    </picture>
  </div>
  <div class="font-tryGrtskVariable mt-[20px] md:mt-[-17px] px-5 md:px-[72px] text-white absolute top-0 flex items-center justify-center text-center inset-0 inherit text-[40px] md:text-[70px] xl:text-[100px] leading-[48px] md:leading-[80px] xl:leading-[120px] font-bold">
    <h2>Ті, хто дістали травми внаслідок війни - Superhumans!</h2>
  </div>
</section>