<section id="join-us" class="bg-outrageous-orange relative z-2 h-auto">
  <div class="absolute z-1 w-full mt-[-72px] md:mt-[-164px] overflow-hidden h-[100px] md:h-[300px]">
    <picture>
      <source srcset="../../img/svg/join-us-bg.svg" media="(min-width: 768px)" />
      <img class="w-full object-cover min-[550px]:ml-[-32px] md:ml-[0px] min-w-[591px] min-[550px]:min-w-[800px] max-w-none ml-[-24px] md:ml-[0px]" src="../../img/svg/join-us-bg--mobile.svg" alt="join-us bg" />
    </picture>
  </div>
  <div class="pb-14 relative z-10">
    <div class="container px-5 md:px-[72px] mx-auto flex justify-center">
      <div class="mt-[20px] md:mt-[12px]">
        <div class="flex flex-col items-center md:flex-row md:justify-center">
          <div class="w-[188px] md:w-auto md:mt-[-10px]">
            <img class="w-full" src="../../img/svg/blablacar-logo.svg" alt="blablacar">
          </div>
          <div class="w-[30px] mt-4 md:w-auto md:mx-[50px]">
            <img class="w-full" src="../../img/svg/union-icon.svg" alt="union icon">
          </div>
          <div class="w-52 mt-4 md:w-[368.63px]">
            <img class="w-full" src="../../img/svg/super-humans-logo.svg" alt="superhumans">
          </div>
        </div>
        <p class="text-center text-black text-[25px] font-faroTrial font-normal px-5 md:px-0 leading-[30px] mt-[29px] md:mt-[26px] md:text-[40px] md:leading-[48px]">
          <span x-text="$t('intro.text')"></span>
          <br class="md:hidden">
          <span x-text="$t('intro.question')" class="font-bold font-tryGrtskVariable italic "></span>
        </p>
        <button
          x-text="$t('common.buttonCAT')"
          @click="open()"
          class="help-btn font-faroTrial mx-auto w-[207px] md:w-[248px] block bg-btn-color text-white h-[49.50px] md:h-[59px] uppercase text-base md:text-xl mt-[45px] md:mt-[54px]"
        >
        </button>
      </div>
    </div>
  </div>
</section>
