<section id="mastercard" class="relative mt-[123px] bg-[#BECDCE] xl:mt-[210px] 1400:mt-[80px]">
  <div class="absolute top-[-101px] left-0 w-full lg:top-[-115px] xl:top-[-210px]">
    <picture>
      <source media="(min-width: 767px)" srcset="../../img/svg/mastercard-bg-desk.svg">
      <img src="../../img/svg/mastercard-bg-mob.svg" class="w-full h-full" alt="">
    </picture>
  </div>

  <div class="container px-5 md:px-[72px] mx-auto flex justify-center relative z-10 flex-col">
    <div class="flex flex-col items-center mt-[-4px] md:flex-row md:justify-center">
      <div class="w-[76px] md:w-[128px] md:mt-[0]">
        <img class="w-full" src="../../img/svg/blablacar-logo.svg" alt="blablacar">
      </div>
      <div class="w-[30px] mt-[26px] md:w-[53px] md:mx-[50px] ml-[1px] md:mt-[0px]">
        <img class="w-full" src="../../img/svg/union-icon.svg" alt="union icon">
      </div>
      <div class="w-[233px] mt-[22px] md:w-[400px] md:mt-[0px]">
        <img class="w-full" src="../../img/svg/super-humans-logo.svg" alt="superhumans">
      </div>
    </div>

    <button
      @click="open()"
      class="help-btn font-faroTrial mx-auto w-[207px] md:w-[248px] block bg-btn-color text-black h-[49.50px] md:h-[59px] uppercase text-base md:text-xl mt-[46px] md:mt-[41px] tracking-[-0.3px]"
    >
      ПРИ<span class="font-bold">ЄДНАТИСЯ</span>
    </button>
  </div>
</section>