<div
    id="pop-up"
    class="pop-up fixed z-[100] w-screen h-screen overflow-y-auto invisible opacity-0 bg-white top-0 left-0 translate-y-[-200%] transition-all duration-500 flex flex-col justify-between md:justify-start"
    :class="{ '!translate-y-0 !visible !opacity-100': isOpened }"
>
<div class="relative w-full pt-[45px]">
    <div
        class="absolute flex items-center justify-center right-0 top-0 w-[16px] md:w-[28px] h-[16px] md:h-[28px] mr-[18px] md:mt-[40px] md:mr-[66px] mt-[18px] cursor-pointer"
        @click="close()"
    >
    <img class="w-[11px] h-[11px] md:w-[20px] md:h-[20px]" src="./img/svg/close-popup.svg" alt="close popup">
    </div>
    
    <div class="container mx-auto px-[17px] md:pt-[34px] w-full text-center md:w-[517px]">
    <h3 class="text-xl leading-[24px] font-bold italic md:text-[30px] md:leading-[36px]">
        Ваш внесок
    </h3>
    <div class="font-faro flex justify-center text-5xl mt-[7px] md:mt-[3px] md:text-[70px] md:leading-[84px]">
        <span class="text-base leading-[28px] mr-[4px] md:text-2xl md:leading-[61px]" x-text="currencySign"></span>
        <span x-effect="formatAmount(amount)" x-text="intAmount"></span>
        <span class="text-base leading-[69px] md:text-[24px] md:leading-[117px]" x-text="decimalAmount"></span>
    </div>

    <div class="absolute left-0 right-0 bg-silver h-[1px] mt-3 md:mt-[-10px]"></div>

    <div class="mt-[44px] md:mt-[50px]">
        <div class="flex justify-between">
        <p class="font-bold italic text-base leading-[23px] md:text-[25px] md:leading-[30px]">
            Оберіть суму внеску
        </p>

        <div
            x-on:keydown.escape.prevent.stop="closeSelect($refs.button)"
            x-on:focusin.window="! $refs.panel.contains($event.target) && closeSelect()"
            x-id="['dropdown-button']"
            class="relative font-faro"
        >
            <button
                x-ref="button"
                x-on:click="toggleSelect()"
                :aria-expanded="isOpenedSelect"
                :aria-controls="$id('dropdown-button')"
                type="button"
                class="flex items-center bg-white text-black text-base md:text-[18px] md:leading-[30px]"
            >
            <span x-text="currencySign"></span>
            <span x-text="currency" class="mr-[4px] md:mr-[7px]"></span>
            <img class="inline-block z-10 md:w-[8px]" src="./img/svg/select-arrow.svg" alt="select arrow">
            </button>

            <div
                x-ref="panel"
                x-show="isOpenedSelect"
                x-transition.origin.top.left
                x-on:click.outside="closeSelect($refs.button)"
                :id="$id('dropdown-button')"
                style="display: none"
                class="absolute z-10 right-0 mt-2 w-auto max-h-60 overflow-auto bg-white border border-silver"
            >
            <button
                @click="onChangeCurrencySelect($el)"
                data-currency-name="ua"
                class="flex text-black items-center gap-2 w-full px-2 py-2 text-left text-base md:text-[18px] md:leading-[30px] hover:bg-gray-50 disabled:text-gray-500"
            >
                ₴UAH
            </button>
            <button
                @click="onChangeCurrencySelect($el)"
                data-currency-name="en"
                class="flex text-black items-center gap-2 w-full px-2.5 py-2 text-left text-base md:text-[18px] md:leading-[30px] hover:bg-gray-50 disabled:text-gray-500"
            >
                $USD
            </button>
            <button
                @click="onChangeCurrencySelect($el)"
                data-currency-name="de"
                class="flex text-black items-center gap-2 w-full px-2 py-2 text-left text-base md:text-[18px] md:leading-[30px] hover:bg-gray-50 disabled:text-gray-500"
            >
                €EUR
            </button>
            </div>
        </div>
        </div>
        <div class="amount-btns font-faro w-full h-[44px] md:h-[63.25px] flex justify-between gap-[5px] md:gap-[8.2px] mt-[16px] md:mt-[25px] text-lg md:text-2xl">
        <div
            class="amount-btn h-full flex justify-center items-center w-full border border-silver cursor-pointer flex amount-btn--active"
            data-amount-value="25"
            @click="onSelectAmountBtn($el)"
        >
            <span x-text="currencySign"></span>25
        </div>
        <div
            class="amount-btn h-full flex justify-center items-center w-full border border-silver cursor-pointer"
            data-amount-value="45"
            @click="onSelectAmountBtn($el)"
        >
            <span x-text="currencySign"></span>45
        </div>
        <div
            class="amount-btn h-full flex justify-center items-center w-full border border-silver cursor-pointer"
            data-amount-value="150"
            @click="onSelectAmountBtn($el)"
        >
            <span x-text="currencySign"></span>150
        </div>
        <div
            class="amount-btn h-full flex justify-center items-center w-full border border-silver cursor-pointer"
            data-amount-value="500"
            @click="onSelectAmountBtn($el)"
        >
            <span x-text="currencySign"></span>500
        </div>
        </div>

        <div class="w-full font-faro h-[44px] md:h-[63.25px] relative border border-silver mt-[21px] text-base">
        <span class="absolute block h-full flex items-center pl-[8px] md:pl-[15px] md:text-[20px]" x-text="currencySign"></span>
        <input
            class="input-amount w-full h-full outline-0 px-[34px] md:px-[44px] md:text-[20px] md:leading-[24px] placeholder:text-silver-chalice"
            type="number"
            value=""
            placeholder="Інша сума"
            @keyup="onInputAmount($el)"
        />
        </div>
    </div>

    <div
        class="text-start mt-[9.5px] font-faro text-xs text-silver-chalice md:mt-[10px]"
        :class="lang === 'es' ? 'block' : 'hidden'"
    >*Como el pago es directo a la ONG, en la aprobación final de tu banco verás que se convierte la moneda de Euros (EUR) a Grivna (UAH). El importe es el equivalente con cambio actual -aprox. 1€=0.025UAH</div>
    </div>
</div>

<div
    class="mt-5 md:relative container mx-auto px-[17px] bottom-0 right-0 left-0 mb-[49px] md:w-[517px] md:mt-[88px]"
    :class="{ 'md:mt-[29px]': lang === 'es' }"
>
    <button
        @click="sendRequest()"
        class="help-btn w-full font-faro block bg-btn-color text-black h-[54px] md:h-[77.3px] uppercase text-base md:text-2xl"
    >
        ПРИ<span class="font-bold">ЄДНАТИСЯ</span>
    </button>
</div>
</div>
