<section id="slider" class="relative">
  <div class="w-full h-[80px] md:h-[150px] overflow-hidden md:mt-[-32px]">
    <picture>
      <source srcset="./img/svg/crisis-top-mask-d.svg" media="(min-width: 768px)" />
      <img class="w-full object-cover" src="./img/svg/crisis-top-mask.svg" alt="top mask">
    </picture>
  </div>

  <div class="bg-crisis-bg py-3 mt-[-1px] md:min-h-[700px] md:pt-[20px] relative z-20">
    <div class="relative z-10 md:flex md:justify-end 2xl:mx-auto xl:px-[44px] 2xl:max-w-[1536px] md:z-50">
      <div class="swiper injured-swiper md:overflow-hidden md:max-w-[747px] z-30 !m-0 !px-[20px]">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container mx-auto px-3 md:pl-[16px] md:pr-[46px] md:pt-[0] md:mt-[-12px] md:mr-[8px]">
            <h2 class="font-bold font-tryGrtskVariable text-center text-[30px] leading-[36px] md:text-[45px] md:leading-[54px]">Повномасштабна війна створила  безпрецедентну гуманітарну кризу в Україні</h2>
          </div>

          <div class="md:flex md:gap-x-[40px] xl:gap-x-[76px] md:justify-center md:mr-[8px]">
            <div class="text-center mt-[30px]">
              <h2 class="text-outrageous-orange font-tryGrtskVariable font-bold text-[50px] leading-[60px] md:text-[70px] md:leading-[84px]">18,924</h2>
              <p class="font-faroTrial tracking-[0.4px] text-sm md:text-xl leading-[18.2px] md:leading-[26px] w-[180px] md:w-[169px] mx-auto mt-1.5 md:ml-[40px] md:mt-[8px]"><span>Жертв серед цивільного населення</span></p>
            </div>

            <div class="text-center mt-[16px] md:mt-[30px]">
              <h2 class="text-outrageous-orange font-bold text-[50px] leading-[60px] font-tryGrtskVariable md:text-[70px] md:leading-[84px]">6,884</h2>
              <p class="font-faroTrial tracking-[0.4px] text-sm md:text-xl leading-[18.2px] md:leading-[26px] w-[119.4px] md:w-[169px] mx-auto mt-[5px] md:mt-[8px]"><span>Вбито, включно </span><span class="text-xl md:text-3xl leading-[24px] md:leading-[36px] font-bold font-tryGrtskVariable">450* </span><span>дітей</span></p>
            </div>

            <div class="text-center mt-[32px] md:mt-[30px]">
              <h2 class="text-outrageous-orange font-bold text-[50px] leading-[60px] font-tryGrtskVariable md:text-[70px] md:leading-[84px]">10,947</h2>
              <p class="font-faroTrial tracking-[0.4px] text-sm md:text-xl leading-[18.2px] md:leading-[26px] w-[119.4px] md:w-[169px] mx-auto mt-1.5 md:mt-[8px]"><span>Поранено, серед них </span><span class="font-tryGrtskVariable text-xl italic md:text-3xl leading-[24px] md:leading-[36px] font-bold">829 </span><span>дітей</span></p>
            </div>
          </div>

          <p class="font-faroTrial tracking-[0.6px] text-center text-sm leading-[18.2px] px-3 md:px-0 mt-[30px] md:mt-[28px] md:text-xl md:leading-[26px]">
            <span>*Реальні цифри врази більші</span>
            <br><br>
            <span class="md:tracking-[0.8px]">Є затримки в отриманні статистики, немає даних із тимчасово окупованих територій</span>
          </p>
        </div>
      </div>
    </div>
    </div>

    <div class="relative mt-[60px] w-full md:h-full md:top-0 md:mt-[80px] z-30">
      <picture class="hidden md:block">
        <source srcset="./img/slider-decor.png" media="(min-width: 768px)" />
        <img class="w-full object-cover min-[1480px]:object-contain h-[6px] md:h-[590px] md:absolute translate-y-[-100%] md:mt-[24px]" src="./img/svg/mobile-slider-line.svg" alt="slider line">
      </picture>
      <div class="swiper-pagination"></div>
    </div>
  </div>

   <div class="w-full absolute top-[100%] mt-[-105px] md:mt-[-56px] lg:mt-[-86px] xl:mt-[-219px] left-0 z-10">
    <picture>
      <source srcset="./img/svg/slider-decor.svg" media="(min-width: 768px)" />
      <img class="w-full object-cover md:object-fill" src="./img/svg/slider-decor-mob.svg" alt="top mask">
    </picture>
  </div>
</section>