<section id="video">
  <div class="relative">
    <button
      id="video-play-btn"
      class="absolute z-10 top-[50%] left-[50%] w-[53px] h-[68px] translate-x-[-50%] translate-y-[-50%] md:w-[92px] md:h-[117px] hover:scale-125 transition-transform"
    >
    <svg class="w-full h-full" viewBox="0 0 92 117" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0V117L92 58.5L0 0Z" fill="white"/>
    </svg>
    </button>
    <video
      id="superhumans-video"
      poster="./img/video-poster.jpg"
      class="superhumans-video h-[499px] w-full !object-cover sm:object-center md:h-[704px] 2xl:h-[1000px]"
      >
      <source src="https://cdn.shopify.com/videos/c/o/v/058a5bc5d00b49bcabcf2b725f07834a.mp4">
    </video>
  </div>
</section>